<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
     
     <bean class="com.assignment1.Address" name="Address">

  <property name="street">
   <value>jayant </value>
   </property>
  
  <property name="city" >
  <value>Singrauli</value>
  </property>
  
  <property name="state">
  <value>MP</value>
  </property>
  
  <property name="zip">
  <value>488</value>
  </property>
  
  <property name="country">
  <value>India</value>
  </property> 
</bean>
            
<bean class="com.assignment1.Customer" name="customer">

  <property name="customerId">
  <value>0101</value>
  </property>
  
  <property name="customerName">
  <value>Aman</value>
  </property>
  
  <property name="customerContact">
  <value>999</value>
  </property>
  
  <property name="customerAddress" ref="Address" />
</bean>


</beans>